<h1 class="text-center text-danger">Register</h1>
<br />
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form>
            <div class="form-group">
                <label for="inputEmail">Full Name</label>
                <input type="text" ng-model="full_name" class="form-control input-lg" placeholder="Full name">
            </div>
            <div class="form-group">
                <label for="inputEmail">Username</label>
                <input type="text" ng-model="username" class="form-control input-lg" placeholder="Username">
            </div>
            <div class="form-group">
                <label for="inputPassword">Password</label>
                <input type="text" ng-model="password" class="form-control input-lg" placeholder="Password">
            </div>
            <div class="form-group">
                <label for="inputPassword">Payment Account</label>
                <input type="text" ng-model="payment_acc" class="form-control input-lg" placeholder="Payment Account">
            </div>
            <button ng-click="addUsr()" class="btn btn-info form-control input-lg">Register</button>
        </form>
    </div>
</div> 